
github "tchernitski/LoopKit" "anna"
github "tchernitski/CGMBLEKit" "master"
github "i-schuetz/SwiftCharts" == 0.6.5
github "tchernitski/dexcom-share-client-swift" "master"
github "tchernitski/G4ShareSpy" "master"
github "tchernitski/rileylink_ios" "anna"
github "LoopKit/Amplitude-iOS" "decreepify"
github "tchernitski/spike-client-swift" "master"
